@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;
}

body{
    /*background: #9B2335;*/
    color: #ededed;
}

.headerU{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed; 
    text-decoration: none;
    font-weight: 600;

}

.navbar a{
    font-size: 18px;
    color: #ededed; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 45px;
    transition: .3s;
    
}

.navbar a:hover,
.navbar a.active{
    color: #050505;
}

.home{
    height: 100vh;
    background: url(../imagem/foto1\ alterada.png) no-repeat;
    background-color: #ff2600d8;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 35px;
    font-weight: 700;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #000000;
}


.home-content p{
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4;
    width: 80%;
    color: #fffefe;
    margin: 20px 0 40px;
    font-family:Arial, Helvetica, sans-serif;
}


.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #ededed;
    border: 2px solid #ededed;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}

.btn-box a:hover{
    color: #ededed;
}

.btn-box a:nth-child(2){
    
    color: #030303;
}

.btn-box a:nth-child(2):hover{
    color: #000000;
}

.btn-box a:nth-child(2):before{
    color: #ededed;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-contacts{
    position: absolute;
    bottom: 20px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    
   
}


.home-contacts a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}

.home-contacts a:hover{
    color: #000000;

}

.home-contacts a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
    transition: .5s;

}

.home-contacts a:hover:before{
    width: 100%;
}

.home-imghover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 610px;
    height: 100%;
    background: transparent;
    transition: .5s;
}

.home-imghover:hover{
background: rgb(255, 60, 0);
opacity: .8;
}



@media only screen and (max-width:600px) {
    
    section.home .home-imghover{
        display: none;
    }

    section.home{
        background: none;
    }

    body{
        width: 100%;
        background: rgb(255, 60, 0);
     }

    

    header.header .navbar{ 
        display: block;
        z-index: 2;
        
    }  
    
    header.header .logo{
        display: none;
    }



    section.home .home-content{
        margin-top: 10px;
      
    }

    section.home .home-content h1{
        font-size: 60px;
    }

    section.home .home-content h3{
        font-size: 60px;
    }
    section.home .home-content p{
        width: 100%;
        font-size: 45px;
    }

    section.home .home-contacts{
        bottom: 30px;
    }

 


  
    
}



@media only screen and (max-width:480px) {

    section.home .home-imghover{
        display: none;
    }

    section.home{
        background: none;
    }

    body{
        width: 100%;
        background: rgb(255, 60, 0);
     }

    

    header.header .navbar{ 
        display: block;
        z-index: 2;
        
    }  
    
    header.header .logo{
        display: none;
    }



    section.home .home-content{
        margin-top: 10px;
      
    }

    section.home .home-content h1{
        font-size: 15px;
    }

    section.home .home-content h3{
        font-size: 10px;
    }
    section.home .home-content p{
        width: 100%;
        font-size: 10px;
    }

    section.home .home-contacts{
        bottom: 30px;
    }

 


}
